/* DashBoard */
#dashb li{
    list-style: none;
    color: red;
}
#dashb{
    height: 100%;
    background-color: white;
    margin-bottom: 5px;
    color: black;
    border-radius: 10px;
}
#dashb a {
    color:black;
}
#dashb a:hover{
    color:#ccc;
}
#dashb .submenu{
    margin-top: 5px;
}

 /*Botão Lateral Direito*/
.dropbtn {
    background-color: #74cfae;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    }
.dropdown:hover .dropbtn {
    opacity: 0.8;
}
